<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.starcaretech.a">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 仅 debug 包注册：无 root 设备上通过 adb 广播该 action 模拟开机自启测试 -->
    <application>
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.starcaretech.a.DEBUG_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
